<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="mongocsharpdriver" version="1.8.2" targetFramework="net40" />
  <package id="Moq" version="4.1.1309.0919" targetFramework="net45" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net45" />
  <package id="vbin" version="1.1.0.36964" targetFramework="net45" />
</packages>